.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-green);
	padding: 50px 20px;
	width: 100%;
	height: 300px;
	margin: 0;
}

.hero-container {
	display: flex;
	width: 100%;
	max-width: 1000px;
	height: 100%;
	position: relative;
	padding: 0 30px;
}

.hero-text {
	line-height: 0.5;
}

.title {
	font-weight: 700;
	font-size: 2rem;
	color: var(--highlight-light);
	font-family: var(--font-headlines);
	margin-bottom: 20px;
}

.subtitle {
	font-weight: 400;
	font-size: 1.5rem;
	margin-bottom: 20px;
	color: var(--primary-yellow);
	font-family: var(--font-headlines);
}

.hero-text p {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 15px;
	width: 75%;
	color: var(--highlight-light);
	font-family: var(--font-paragraphs);
}

.reserve-button {
	background-color: var(--primary-yellow);
	color: var(--highlight-dark);
	font-size: 1.2rem;
	font-weight: 700;
	padding: 10px 20px;
	border: 1px solid var(--primary-yellow);
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.reserve-button:hover {
	background-color: #f6d670;
}

.hero-image {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 40%;
	height: 100%;
	border-radius: 10px;
	top: 0px;
}

.hero-image img {
	border: 1px solid black;
	position: absolute;
	width: 100%;
	height: 300px;
	border-radius: 10px;
	object-fit: cover;
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
}

/* Tablet Device */
@media (min-width: 481px) and (max-width: 768px) {
	.hero {
		padding: 32px;
		height: 275px;
	}

	.title {
		font-size: 2rem;
		font-weight: bold;
		color: var(--highlight-light);
	}

	.subtitle {
		font-weight: 600;
		font-size: 1.5rem;
		color: var(--primary-yellow);
	}

	.hero-text p {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.2;
		width: 75%;
		color: var(--highlight-light);
	}

	.reserve-button {
		background-color: var(--primary-yellow);
		color: var(--highlight-dark);
		font-size: 1rem;
		font-weight: 700;
		padding: 0.7em 1.2em;
		border: 1px solid var(--primary-yellow);
		border-radius: 12px;
		cursor: pointer;
	}

	.hero-image {
		position: relative;
		z-index: 1;
		width: 100%;
		max-width: 100%;
		height: 100%;
		border-radius: 10px;
		margin-left: -30px;
		top: 0px;
	}

	.hero-image img {
		position: absolute;
		width: 350px;
		height: 300px;
		object-fit: cover;
		border-radius: inherit;
	}
}

/* Mobile Device */
@media (max-width: 480px) {
	.hero {
		padding: 30px 16px;
		height: 250px;
	}

	.title {
		margin-bottom: 10px;
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--highlight-light);
	}

	.subtitle {
		font-weight: 600;
		font-size: 1rem;
		color: var(--primary-yellow);
		margin-bottom: 10px;
	}

	.hero-text p {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1;
		width: 100%;
		color: var(--highlight-light);
	}

	.reserve-button {
		background-color: var(--primary-yellow);
		color: var(--highlight-dark);
		font-size: 0.85rem;
		font-weight: 700;
		padding: 10px 20px;
		border: 1px solid var(--primary-yellow);
		border-radius: 12px;
		cursor: pointer;
	}

	.hero-image {
		position: relative;
		z-index: 1;
		width: 50%;
		min-width: 50%;
		height: 100%;
		border-radius: 10px;
		left: 20px;
		top: 0px;
	}

	.hero-image img {
		position: absolute;
		width: 100%;
		height: 250px;
		border-radius: 10px;
		object-fit: cover;
	}
}
