.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* Dim the background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-container {
	background-color: var(--highlight-light);
	border-radius: 12px;
	width: 90%;
	max-width: 400px;
	height: auto;
	padding: 40px;
	position: relative;
	text-align: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.modal-close-button {
	background: none;
	color: var(--highlight-dark);
	font-size: 18px;
	cursor: pointer;
	border-radius: 18px;
	border: 2px solid var(--highlight-dark);
	transition: transform 0.2s ease;
}

.modal-close-button:hover {
	transform: scale(1.1);
	background-color: var(--highlight-dark); /* Adds a hover background color */
	color: var(--highlight-light); /* Changes text color on hover */
	border-color: var(--highlight-dark); /* Matches border color with background */
}

.modal-content h2 {
	font-size: 1.5rem;
	font-family: var(--font-headlines);
	font-weight: 700;
	margin-bottom: 15px;
	color: var(--highlight-dark);
}

.modal-content .modal-icon {
	width: 80px;
	height: 80px;
	margin-bottom: 15px;
}

.modal-content p {
	font-size: 1rem;
	font-family: var(--font-paragraphs);
	color: var(--highlight-dark);
	margin-bottom: 10px;
}

.modal-actions {
	display: flex;
	justify-content: center; /* Center the button horizontally */
	width: 100%;
}

.modal-button {
	background-color: var(--primary-yellow);
	color: var(--highlight-dark);
	font-family: var(--font-paragraphs);
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	padding: 12px 24px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%; /* Ensure button takes full width on mobile screens */
}

.modal-button:hover {
	background-color: var(--secondary-orange); /* Change background on hover */
}

.modal-button:focus {
	outline: 2px solid var(--primary-yellow); /* Add focus outline */
	outline-offset: 4px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
	.modal-container {
		width: 95%;
		padding: 15px;
	}

	.modal-content {
		padding: 40px;
	}

	.modal-content h2 {
		font-size: 1.2rem;
	}

	.modal-content p {
		font-size: 0.9rem;
	}

	.modal-content .modal-icon {
		width: 70px;
		height: 70px;
	}

	.modal-actions {
		width: 90%;
		margin-top: 20px;
	}
}

@media (max-width: 480px) {
	.modal-container {
		width: 100%;
		padding: 10px;
	}

	.modal-content h2 {
		font-size: 1rem;
	}

	.modal-content p {
		font-size: 0.85rem;
	}

	.modal-content .modal-icon {
		width: 60px;
		height: 60px;
	}

	.modal-actions {
		width: 100%;
	}

	.modal-button {
		font-size: 0.9rem;
		padding: 10px 20px;
	}
}
