/* Footer Styles */
footer {
	width: 100%;
	height: auto;
	border: 1px solid var(--primary-green);
}

.footer-container {
	display: flex;
	justify-content: space-between;
	max-width: 950px;
	margin: 0 auto;
	padding: 40px 0;
}

.footer-nav-and-contact {
	display: flex;
	align-content: center;
	column-gap: 50px;
}

.footer-logo {
	width: 25%;
	height: 50%;
}

.footer-logo img {
	width: 200px;
}

.footer-nav {
	display: flex;
	flex-direction: column;
}

footer > div {
	flex: 1;
	margin: 0 10px;
}

footer h3 {
	font-size: 1.2rem;
	font-family: "Karla", sans-serif;
	color: var(--highlight-dark);
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 600;
}

.footer-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-nav ul li {
	margin-bottom: 10px;
}

.footer-nav ul li a:link {
	text-decoration: none;
	color: var(--highlight-dark); /* Default link color */
	font-size: 1rem;
	font-family: "Karla", sans-serif;
	transition: color 0.3s ease;
}

.footer-nav ul li a:visited {
	color: var(--primary-green); /* Visited link color */
}

.footer-nav ul li a:hover {
	color: var(--secondary-orange);
	border-bottom: 2px solid var(--secondary-orange);
	transition: color 0.3s ease;
	cursor: pointer;
}

.footer-nav ul li a:focus {
	color: var(--secondary-orange);
	font-weight: 900;
	outline: none;
}

.footer-contact h3 {
	font-size: 1.2rem;
	font-family: "Karla", sans-serif;
	color: var(--highlight-dark);
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 600;
}

.footer-contact p {
	font-size: 1rem;
	font-family: "Karla", sans-serif;
	color: #666;
	margin-bottom: 10px;
}

.footer-contact .email:hover {
	cursor: pointer;
	color: var(--secondary-orange);
}

.footer-contact p:last-child {
	margin-bottom: 0;
}

.footer-social h3 {
	font-size: 1.2rem;
	font-family: "Karla", sans-serif;
	color: var(--highlight-dark);
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 600;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.social-icons img {
	width: 30px;
}

.social-icons img:hover {
	cursor: pointer;
}

/* Responsive Adjustments */
/* Tablet Devices */
@media (min-width: 768px) and (max-width: 1023px) {
	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
		padding: 40px 40px;
	}

	.footer-nav-and-contact {
		display: flex;
		justify-content: space-between;
		width: 100%;
		column-gap: 40px;
		padding-top: 10px;
	}

	.footer-nav {
		display: flex;
		flex-direction: column;
	}

	.footer-logo {
		width: 100%;
	}

	footer h3 {
		font-size: 1.1rem;
	}

	.footer-nav ul li a {
		font-size: 0.9rem;
	}

	.footer-contact h3 {
		font-size: 1.1rem;
	}

	.footer-contact p {
		font-size: 0.9rem;
	}

	.footer-contact .email:hover {
		cursor: pointer;
		color: var(--secondary-orange);
	}

	.footer-social h3 {
		font-size: 1.1rem;
	}

	.social-icons img {
		width: 30px;
	}
}

/* Mobile Devices (320px to 480px) */
@media (min-width: 320px) and (max-width: 480px) {
	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
		padding: 30px 16px;
	}

	.footer-nav-and-contact {
		display: flex;
		flex-direction: column;
	}

	.footer-logo {
		width: 100%;
		margin-bottom: 20px;
	}

	.footer-nav ul li a {
		font-size: 0.85rem;
		text-align: center;
	}

	.footer-contact p {
		font-size: 0.85rem;
	}

	.footer-social h3 {
		font-size: 1rem;
		text-align: center;
	}

	.social-icons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 15px;
		width: auto;
	}

	.social-icons img {
		width: 25px;
	}
}
