/* Testimonials Section Styling */
.testimonials {
	text-align: center;
	background-color: var(
		--secondary-orange
	); /* Matches the secondary orange color */
	padding: 100px 20px;
}

.testimonials-container {
	max-width: 1000px;
	margin: 0 auto;
}

.testimonials header h2 {
	font-size: 2rem;
	font-family: var(--font-headlines); /* Uses font-headlines for headers */
	color: var(--highlight-dark); /* Highlight dark for contrast */
	margin-bottom: 40px;
}

/* Grid Layout for Testimonials */
.testimonials-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	justify-content: center;
}

/* Individual Testimonial Cards */
.testimonial {
	background-color: var(--highlight-light); /* Light background for cards */
	border-radius: 12px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: left;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.testimonial .avatar {
	display: flex;
	align-items: center;
	width: 100%;
	column-gap: 10px;
	margin-bottom: 10px;
}

.testimonial .avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%; /* Ensures the avatar is circular */
}

.testimonial .avatar h4 {
	font-size: 1rem;
	font-family: var(--font-paragraphs); /* Uses font-paragraphs for text */
	font-weight: 600;
	color: var(--highlight-dark);
}

.testimonial .avatar p {
	font-size: 0.8rem;
	font-family: var(--font-paragraphs); /* Uses font-paragraphs for text */
	font-weight: 400;
	color: var(--highlight-dark);
}

/* Blockquote Styling */
.testimonial blockquote {
	margin: 0;
	font-size: 1.2rem;
	color: var(--highlight-dark); /* Uses highlight dark for blockquote text */
	font-style: italic;
	border-left: 5px solid var(--secondary-orange); /* Matches secondary orange */
	padding: 0 0 10px 10px;
}

.testimonial blockquote p {
	font-size: 0.9rem;
	font-family: var(--font-paragraphs); /* Uses font-paragraphs */
}

/* Tablet Devices */
@media (max-width: 768px) {
	.testimonials {
		padding: 40px 20px;
	}

	.testimonials-container {
		max-width: 600px;
		margin: 0 auto;
	}

	.testimonials header h2 {
		font-size: 1.5rem;
		margin-bottom: 30px;
	}

	.testimonial blockquote {
		font-size: 1.1rem;
	}

	.testimonial .avatar h4 {
		font-size: 1.1rem;
	}

	.testimonial .avatar p {
		font-size: 0.9rem;
	}
}

/* Mobile Devices */
@media (max-width: 480px) {
	.testimonials {
		padding: 40px 10px;
	}

	.testimonials header h2 {
		font-size: 1.2rem;
	}

	.testimonial {
		padding: 15px;
	}

	.testimonial blockquote {
		font-size: 1rem;
	}

	.testimonial .avatar h4 {
		font-size: 1rem;
	}

	.testimonial .avatar p {
		font-size: 0.8rem;
	}
}
